<h1>About Us</h1>
<p> Ok, so this is the first time that I am coding. I pretty much suck at it, but I'm going to make RoR my bitch. Hustling everyday to learn this has been fun, and I plan to put my skillz to work for world domination....or a job at the local Pizza Hut. That will work for now.  </p>
<br>
<br>
<div class="row">
  <div class="col-sm-5 col-md-4">
    <div class="thumbnail">
      <img src="http://cl.ly/image/2Y15330t1R0h/gm_coding.png">
        <h3>Giancarlo Maniaci</h3>
        <p>Giancarlo one crazy bastard. He once fought a crocidile with one hand, whilst holding a beer in the other. His hobbies include laerning how to code, lerning how to spell, building companies and making ass loads of cash from them. Some call him a visionary, most call him King Asshole.</p>
        <!-- Button trigger modal -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Wanna Learn More?
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Now You Done Did It! O_o</h4>
      </div>
      <div class="modal-body">
        <img src= "http://gifrific.com/wp-content/uploads/2012/09/Michael-scott-no-god-no.gif">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
      </div>
    </div>
  </div>
</div>


<